---
import GlobalLayout from "@layouts/GlobalLayout.astro";
---

<GlobalLayout title="404 - ページが見つかりません">
  <main class="grid h-dvh place-content-center px-4 py-8">
    <div class="flex h-fit flex-col items-center gap-4 text-center">
      <h1 class="font-orbitron text-4xl font-bold">404</h1>
      <div>
        <p class="font-orbitron mt-4 text-xs">ページが崩壊しましたよ！</p>
        <p class="font-orbitron mt-4 text-xs">うわ～なんで急に崩壊したの！？</p>
      </div>
      <p class="text-base-content/70 mt-2">
        お探しのページは存在しないか、移動した可能性があります。
      </p>
      <a href="/" class="btn btn-primary mt-8 w-fit rounded-sm">ホームに戻る</a>
    </div>
  </main>
</GlobalLayout>
