---
import FirstSection from "@components/pages/home/FirstSection.astro";
import SecondSection from "@components/pages/home/SecondSection.astro";
import ThirdSection from "@components/pages/home/ThirdSection.astro";
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="MCC - マイクロコンピュータークラブ">
  <main class="relative grid gap-16">
    <FirstSection />
    <SecondSection />
    <ThirdSection />
  </main>
</GlobalLayout>
