---
import { Image } from "astro:assets";
import backgroundPattern from "@assets/decorations/pattern_matrix.svg";
import evaPattern from "@assets/decorations/slash.svg";
import studentHub from "@assets/images/discord-student-hubs.png";
import GlobalLayout from "../../../layouts/GlobalLayout.astro";
---

<GlobalLayout title="MCC - マイクロコンピュータークラブ">
  <main class="relative grid gap-8">
    <div>
      <h1 class="font-orbitron p-8 text-4xl font-bold">Recruit</h1>
      <h2 class="font-orbitron bg-base-100 px-8 text-xl font-bold">
        新入部員募集
      </h2>
    </div>

    <div class="flex flex-col items-start gap-8 p-8">
      <p>
        MCC の Discord サーバーに参加して、新歓イベントや活動に参加しましょう。
      </p>

      農工大生であればどなたでも参加可能ですが、
      セキュリティの観点から、当サイトでは招待リンクを公開していません。代わりに、以下いずれかの方法で参加することができます。
      <ul class="rounded-box list gap-2">
        <li class="collapse-arrow bg-base-100 collapse shadow-sm">
          <input type="checkbox" />
          <div class="collapse-title">
            Discrod の Student Hubs から農工大サーバーに入る
          </div>
          <div class="collapse-content">
            <Image alt="discord-student-hub" src={studentHub} />
            以下の写真のような手順で進み、大学のメールアドレスを入力することで、農工大サーバーに参加でき、農工大のサーバー一覧からMCCサーバーに入ることが可能です。
          </div>
        </li>

        <li class="bg-base-100 shadow-sm">
          <div class="collapse-title">新歓イベントに参加する</div>
        </li>

        <li class="bg-base-100 shadow-sm">
          <div class="collapse-title">
            MCC の公式 X(旧Twitter) に DM で連絡し、招待リンクをもらう
          </div>
        </li>

        <li class="bg-base-100 shadow-sm">
          <div class="collapse-title">
            既存部員に声をかけ、招待リンクをもらう
          </div>
        </li>
      </ul>
      Discord に参加すると入部フォームがあるので、そちらを提出することで部員となることができます。
      みなさんの参加をお待ちしています！
    </div>
  </main>
</GlobalLayout>

<style
  define:vars={{
    background: `url(${backgroundPattern.src})`,
    evaline: `url(${evaPattern.src})`,
  }}
>
  main {
    background-image: var(--background);
    background-repeat: repeat;
  }

  .slash {
    background-image: var(--evaline);
    background-repeat: repeat-x;
  }
</style>
