---
import WordmarkLogo from "../assets/wordmark-logo.svg";
---

<nav class="h-navbar sticky top-0 z-10">
  <div class="bg-base-100 border-divider flex h-full border-b px-2">
    <a href="/" class="flex items-center justify-center">
      <WordmarkLogo class="text-white" />
    </a>
  </div>
</nav>
