---
interface Props {
  variant?: "default" | "outline";
}

const { variant = "default" } = Astro.props;
---

<div class="flex">
  <div
    class:list={[
      "from-secondary to-primary relative flex h-5 items-center bg-gradient-to-br px-4 text-xs duration-200",
      "[clip-path:polygon(6px_0,0_50%,6px_100%,calc(100%-6px)_100%,100%_50%,calc(100%-6px)_0)]",
      variant === "outline" ? "text-primary" : "text-base-100",
    ]}
  >
    <div
      class:list={[
        "text-base-100 absolute top-[1px] right-[1.4px] bottom-[1px] left-[1.4px] -z-1 flex items-center text-xs duration-200",
        "[clip-path:polygon(5.4px_0,0_50%,5.4px_100%,calc(100%-5.4px)_100%,100%_50%,calc(100%-5.4px)_0)]",
        variant === "outline" ? "bg-base-100" : "bg-transparent",
      ]}
    >
    </div>
    <slot />
  </div>
</div>
