---
import { Image } from "astro:assets";
import staticLogo from "@assets/logo.svg";
import animatedLogo from "/public/images/animated_mcc.webp";
---

<section id="first-section" class="relative h-lvh w-full overflow-hidden">
  <div class="grid h-full w-full place-content-center">
    <div class="flex flex-col items-center justify-center gap-8">
      <div id="wordmark-logo" class="flex items-center gap-0">
        <div class="grid grid-cols-1 grid-rows-1">
          <div
            id="animated-logo"
            class="col-start-1 row-end-1 grid h-44 w-44 place-content-center lg:h-50 lg:w-50"
          >
            <Image
              priority
              alt="logo"
              src={animatedLogo}
              class="h-59 w-59 object-cover lg:h-67 lg:w-67"
            />
          </div>
          <div
            id="static-logo"
            class="col-start-1 row-end-1 hidden h-44 w-44 lg:h-50 lg:w-50"
          >
            <Image
              alt="logo"
              src={staticLogo}
              class="h-44 w-44 lg:h-50 lg:w-50"
            />
          </div>
        </div>
        <h1
          id="mcc-text"
          class="font-orbitron text-primary hidden w-0 text-[160px] font-medium opacity-0 lg:inline-block"
        >
          MCC
        </h1>
      </div>
      <h2 id="mcc-jp-text" class="text-2xl font-bold opacity-0 lg:text-3xl">
        マイクロコンピュータークラブ
      </h2>
    </div>
  </div>

  <script>
    import { animate, type AnimationSequence } from "motion";

    const sequence: AnimationSequence = [
      ["#mcc-text", { width: 412 }, { duration: 0.5, delay: 3 }],
      [
        "#wordmark-logo",
        { gap: "calc(var(--spacing) * 8)" },
        { duration: 0.5, at: 3 },
      ],
      ["#mcc-jp-text", { opacity: 1 }, { duration: 0.5, at: 3 }],
      ["#mcc-text", { opacity: 1 }, { duration: 0.5 }],
      ["#static-logo", { display: "block" }, { duration: 0.01 }],
      ["#animated-logo", { display: "none" }, { duration: 0.01 }],
    ];

    animate(sequence);
  </script>
</section>
