---
import type { CollectionEntry } from "astro:content";
import Navbar from "@components/Navbar.astro";
import WorkshopItem from "@components/pages/workshops/WorkshopItem.astro";
import WorkshopPagination from "@components/pages/workshops/WorkshopPagination.astro";
import GlobalLayout from "@layouts/GlobalLayout.astro";
import type { Page } from "astro";
import { Icon } from "astro-icon/components";

export interface Props {
  page: Page<CollectionEntry<"workshopCovers">>;
}

const { page } = Astro.props;
---

<GlobalLayout title="MCC - マイクロコンピュータークラブ | Posts">
  <Navbar />
  <main
    class="relative mx-auto grid max-w-250 grid-cols-[1fr_3fr] grid-rows-[auto_1fr] gap-x-16 gap-y-8 px-4 py-8 2xl:max-w-300"
  >
    <div
      class="lg:top-navbar-with-margin sticky col-start-1 col-end-3 row-start-1 flex h-fit flex-col gap-8 lg:col-end-2"
    >
      <div class="row-start-1 h-fit">
        <div class="flex items-center justify-between">
          <h1 class="font-orbitron text-4xl font-medium">Workshops</h1>
          <button
            type="button"
            class="btn btn-primary btn-outline lg:hidden"
            onclick="post_search_modal.showModal()"
          >
            <Icon name="ri:arrow-left-double-fill" class="h-8 w-8" />
          </button>
          <dialog id="post_search_modal" class="modal">
            <div class="modal-box">
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn">Close</button>
                </form>
              </div>
            </div>
          </dialog>
        </div>
        <p class="mt-2">
          <div>講習資料一覧</div>
        </p>
      </div>

      <div class="hidden self-start lg:flex"></div>
    </div>

    <div
      class="col-start-1 col-end-3 mx-auto grid w-full max-w-200 grid-cols-1 gap-8 md:grid-cols-2 lg:col-start-2"
    >
      {page.data.map((workshop) => <WorkshopItem workshop={workshop} />)}
    </div>

    <div class="col-start-1 col-end-3 my-12 lg:col-start-2">
      <WorkshopPagination page={page} />
    </div>
  </main>
</GlobalLayout>
